/********************************************
General Styling
********************************************/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    line-height: 1.45;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu', sans-serif;
    /*text-shadow: 2px 2px 0px #333;*/
}
h1 {
    -webkit-transition: all .25s;
    transition: all .25s;
    font-size: 2.5em;
    margin-top: -.45em;
    letter-spacing: 0;
    width: 100%;
}
h2 {
    font-size: 1.9em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 2.05em;
}
h5 {
    font-size: 1.3em;
}
small,
.font_small {
    font-size: 0.618em;
    margin: 0;
}
p {
    margin: 0;
    font-size: 1.25em;
}

/********************************************
Centering Styling
********************************************/

.outerN {
    display: table;
    height: 100%;
    width: 100%;
}
.middleN {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.innerN {
    width: 100%;
}

/********************************************
Container Styling
********************************************/

.container {
    display: block;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    vertical-align: middle;
}

/********************************************
SplashScreen Styling
********************************************/

#splashscreen {
    background-image: url("../img/backdrop.png");
    background-size: cover;
    width: 100%;
}
#splashtext {
    padding: 20% 0;
}

/********************************************
Form Styling
********************************************/

.form {
    color: #11c88e;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    text-align: center;
}
#formholder {
    width: 100%;
}
form {
    padding: 1em;
    background-color: #2980b9;
    box-shadow: 3px 3px 0 #2c3e50;
}
.muted {
    margin-top: 15px;
    margin-bottom: 70px;
}
.error {
    background-color: #ff0000;
    box-shadow: 3px 3px 0px #e74c3c;
    padding: 10px;
    color: #16a085;
    margin-bottom: 15px;
}

/********************************************
Footer Styling
********************************************/

footer {
    background-color: #2c3e50;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    left: 0;
    color: #ecf0f1;
    text-shadow: 2px 2px 0 #7f8c8d;
}
footer a {
    color: #16a085;
    text-shadow: 1px 1px 0 #95a5a6;
}
footer a:hover {
    color: #2980b9;
    text-shadow: 1px 1px 0 #1abc9c;
}
footer #link {
    height: 60px;
    display: block;
}
/********************************************
Colors Styling
********************************************

#splashscreen {
    background-color: rgb(200, 86, 75);
}
#about {
    background-color: rgb(223, 181, 152);
}
#organizers {
    background-color: rgb(227, 232, 145);
}
#faq {
    background-color: rgb(180, 217, 144);
}
#sponsors {
    background-color: rgb(164, 177, 234);
}
#codemv {
    background-color: rgb(95, 115, 204);
}
#signup {
    background-color: rgb(149,135,162);
}
*/

#special:hover {
    letter-spacing: 0.02em;
}
#special2 {
    color: red;
}
