/********************************************
General Styling
********************************************/

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 300;
    line-height: 1.45;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.9em;
}
h3 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.2em;
}
small,
.font_small {
    font-size: 0.618em;
    margin: 0;
}
p {
    margin: 0;
    font-size: 1em;
}
a {
    color: #333;
    text-decoration: none;
}

/********************************************
Centering Styling
********************************************/

.outerN {
    display: table;
    height: 100%;
    width: 100%;
}
.middleN {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.innerN {
    width: 100%;
}

/********************************************
Container Styling
********************************************/

.container {
    display: block;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    vertical-align: middle;
}

/********************************************
SplashScreen Styling
********************************************/

#splashscreen {
    background-image: url("../img/backdrop.png");
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
    box-shadow: 0px 3px 5px #333;
    margin-bottom: 2.5%;
}
#splashtext {
    padding: 0;
    padding-top: 20%;
    padding-bottom: 10%;
}
#splashscreen #signupdiv {
    width: 55%;
    margin-bottom: 9%;
    border-radius: 10px;
    padding-bottom: 0px;
    background-color: rgba(85, 85, 85, 0.9);
    display: inline-block;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
}
#splashscreen #signupdiv h5 {
    color: #fff;
    padding: 5px 20px;
}
#splashscreen #signupdiv form input {
    width: 71.25%;
    padding: 10px;
    margin-left: 3.5%;
    margin-right: 0.25%;
    border-radius: 5px;
    border-color: #555;
    border-style: solid;
    background-color: #ddd;
}
#splashscreen #signupdiv form #mc-embedded-subscribe {
    width: 20%;
    margin-right: 3.5%;
    margin-left: 0.25%;
    border-radius: 5px;
    border-color: #555;
    border-style: solid;
    padding: 8px;
    background-color: #2a8dc3;
}
/********************************************
Body Styling
********************************************/

#about h1 {
    margin: .25em;
    letter-spacing: 0;
    width: 100%;
}
#about hr {
    width: 65%;
    margin-top: 1.5%;
    margin-bottom: 3%;
}
#about aside {
    width: 26%;
    display: inline-block;
    text-align: right;
    padding: 20px;
    margin-left: 1%;
}
#about img {
    margin-right: 2%;
}
#about .col {
    text-align: center;
    display: inline-block;
}
#about .col p {
    margin-top: 10px;
}
#about #col1 {
    margin-right: 5%;
}

/********************************************
Footer Styling
********************************************/

footer {
    background-color: #444;
    bottom: 0;
    width: 100%;
    left: 0;
    color: #fff;
    box-shadow: 0px -3px 5px #000;
    margin-top: 2.5%;
}
footer h3 {
    letter-spacing: 5px;
    margin: 15px;
    margin-top: 0px;
    padding-top: 15px;
}
footer form {
    width: 50%;
    display: inline-block;
}
footer form h6 {
    float: left;
}
footer form #footer-icons {
    float: right;
}
footer form #footer-icons img{
    height: 30px;
    margin-left: 10px;
}
footer form input {
    width: 74%;
    padding: 10px;
    margin: 0 0.25% 30px 0%;
    border-radius: 5px;
    border-color: #555;
    border-style: solid;
    background-color: #ddd;
}
footer form #mc-embedded-subscribe {
    width: 24%;
    margin-right: 0%;
    margin-left: 0.25%;
    border-radius: 5px;
    border-color: #555;
    border-style: solid;
    padding: 8px;
    background-color: #1285c3;
}