@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.25em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }
    h5 {
        font-size: 1.05em;
    }
    small,
    .font_small {
        font-size: 0.5em;
    }
    #about aside {
        width: 40%;
    }
}
@media screen and (max-width: 895px) {
    h5 {
        font-size: 0.95em;
    }
    #about img {
        width: 15%;
    }
}
@media screen and (max-width: 700px) {
    h1 {
        font-size: 2.15em;
    }
    h2 {
        font-size: 1.4em;
    }
    #splashscreen #signupdiv form input {
        width: 61.25%;
    }
    #splashscreen #signupdiv form button {
        width: 30%;
    }
    footer form {
        width: 95%;
    }
    #about hr {
        width: 85%;
    }
    #about aside {
        text-align: center;
    }
    #about img {
        width: 17.5%;
    }
}
@media screen and (max-width: 575px) {
    h3 {
        font-size: 1.15em;
    }
    p {
        font-size: 0.75em;
    }
    #splashscreen {
        margin-bottom: 7.5%;
    }
    #splashtext {
        padding: 0;
        padding-top: 47.5%;
        padding-bottom: 25%;
    }
    #splashscreen #signupdiv {
        width: 95%;
        margin-bottom: 30%;
    }
    #about aside {
        width: 70%;
        padding: 5%;
    }
    #about aside h2, #about aside p {
        width: 100%;
    }
    footer {
        margin-top: 10%;
    }
}
@media screen and (max-width: 575px) and (orientation: landscape) {
    #splashtext {
        padding-top: 34%;
    }
}
@media screen and (max-width: 555px) and (orientation: landscape) {
    #splashtext {
        padding-top: 37.5%;
    }
}